
.TimingDiagrammer.py.swp
__pycache__/TimingDiagrammerUI.cpython-310.pyc
build/TimingDiagrammer/Analysis-00.toc
build/TimingDiagrammer/base_library.zip
build/TimingDiagrammer/EXE-00.toc
build/TimingDiagrammer/localpycs/pyimod01_archive.pyc
build/TimingDiagrammer/localpycs/pyimod02_importers.pyc
build/TimingDiagrammer/localpycs/pyimod03_ctypes.pyc
build/TimingDiagrammer/localpycs/pyimod04_pywin32.pyc
build/TimingDiagrammer/localpycs/struct.pyc
build/TimingDiagrammer/PKG-00.toc
build/TimingDiagrammer/PYZ-00.pyz
build/TimingDiagrammer/PYZ-00.toc
build/TimingDiagrammer/TimingDiagrammer.exe.manifest
build/TimingDiagrammer/TimingDiagrammer.pkg
build/TimingDiagrammer/warn-TimingDiagrammer.txt
build/TimingDiagrammer/xref-TimingDiagrammer.html
dist/TimingDiagrammer.exe
tests/annot-2.tim
tests/annot.tim
tests/arr-2.tim
tests/arr.tim
tests/arrow-simple.tim
tests/clkarr.tim
tests/color-2.tim
tests/color.tim
tests/command-format.tim
tests/commands.tim
tests/delay-basic.tim
tests/delays.tim
tests/delayx.tim
tests/example.jpg
tests/example.tim
tests/ext-arr.tim
tests/ext-bug0.tim
tests/ext.tim
tests/font.tim
tests/fp.tim
tests/gap.tim
tests/help-1.tim
tests/help-2.tim
tests/help-3.tim
tests/hp.tim
tests/p-delay.tim
tests/test-0.tim
tests/test-1.tim
tests/test-color-2.tim
tests/test-color-3.tim
tests/test-color.tim
tests/test-D.tim
tests/test-debug.tim
tests/test-dp.tim
tests/test-dx.tim
tests/test-gap.tim
tests/test-hplp.tim
tests/test-p-upper-p.tim
tests/test-p.1.tim
tests/test-p.tim
tests/test-px.tim
tests/test-text.tim
tests/test-xD.tim
tests/test-xp.tim
tests/test.tim
tests/text.tim
tests/TimingDiagrammerPRs.tim
tests/u.tim
tests/xD.tim
tests/XxX.tim
*.pyc
